{% extends 'base.html' %}
{% block content %}
<h1>{{ stock.company }}</h1>
<p>{{ stock.description }}</p>
<p>Posted {% if stock.post == 0 %} by <a href="{% url 'user_detail' slug=stock.user.username %}">{{ stock.user.username }}</a> {% endif %} on {{ stock.created_at }}</p>
{% if stock.user == user %}
<p><a href="{% url 'stock_update' pk=stock.id %}">Edit Stock</a></p>
<p><a href="{% url 'stock_delete' pk=stock.id %}">Delete Stock</a></p>
{% endif %}
{% if reviews.count > 0 %}
<h3>{{ reviews.count }} Review{{ reviews.count|pluralize }}:</h3>
{% endif %}
{% for review in reviews %}
<div class="panel">
    <p>{{ review.text }}</p>
    {% if review.user == user %}
    <p><a href="{% url 'review_update' stock_pk=stock.id review_pk=review.id %}">Edit Review</a></p>
    <p><a href="{% url 'review_delete' stock_pk=stock.id review_pk=review.id %}">Delete Review</a></p>
    {% endif %}
    <p>Reviewed {% if review.post == 0 %} by <a href="{% url 'user_detail' slug=review.user.username %}">{{ review.user.username }}</a> {% endif %} on {{ review.created_at }} ({{ review.vote_set.all.count }} Vote{{ review.vote_set.all.count|pluralize }})</p>
    <p>{{ review.vote_set.all.count }} Vote{{ review.vote_set.all.count|pluralize }}</p>
    <form method="post" action="{% url 'vote' %}">
        {% csrf_token %}
        <input type="hidden" name="review" value="{{ review.id }}" />
        <input type="hidden" name="stock" value="{{ stock.id }}" />
        <input type="hidden" name="user" value="{{ user.id }}" />
        <button>+</button>
    </form>
</div>
{% endfor %}
{% if not user_reviews %}
<p><a href="{% url 'review_create' pk=stock.id %}">Write Review</a></p>
{% endif %}
{% endblock %}