{% extends 'base.html' %}
{% block content %}
<h1>{{ user_in_view.username }}</h1>
<p>Email address: {{ user_in_view.email }}</p>
<p>First name: {{ user_in_view.first_name }}</p>
<p>Last name: {{ user_in_view.last_name }}</p>
{% if user_in_view == user %}
<p><a href="{% url 'user_edit' slug=user.username %}">Edit profile</a></p>
<p><a href="{% url 'user_delete' slug=user.username %}">Delete account</a></p>
{% endif %}
<h3>Stocks ({{ stocks.count }})</h3>
{% for stock in stocks %}
<p><a href="{{ stock.get_absolute_url }}">{{ stock.company }}</a></p>
{% endfor %}
<h3>Reviews ({{ reviews.count }})</h3>
{% for review in reviews %}
<p><a href="{{ review.stock.get_absolute_url }}">{{ review.stock.company  }}</a></p>
<p>> {{ review.text }}</p>
{% endfor %}
{% endblock %}